@font-face{
	font-family : 'Markazi Text';
	src: url('css/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
	font-family : 'Karla';
	src: url('css/fonts/Karla-VariableFont_wght.ttf') format('truetype');
}
.foto-carrusel{
	width : 100%;
	height : 300px;
	object-fit: none;
}
#menu-superior{
	//background-color : red !important; /* Ej cambiar color de fondo */
	color : red !important;
}
#menu-superior nav-link{
	color : red !important;
}
.navbar {
  background-color: purple !important;
  font-weight : bold !important;
}

.navbar-nav .nav-link {
  color: white !important;
}
/*----------Estilos dropdown-------------*/
.dropdown-menu{
	background-color: purple !important;
}
.dropdown-item:hover{
	background-color: #1B9140 !important;
}
.dropdown-item{
	color: white !important;
	font-weight: bold !important;
	font-size: 13px;
}
.dropdown-item{
	color: white !important;
}
.dropdown-divider{
	border-top: 1px solid white;
}
/*------Fin Estilos dropdown-------------*/
#footer{
	background-color: #358a1e !important;
	color: black !important;
}
.letras-carrousel{
	opacity: 0.9 !important;
	background-color : green !important;
}
.my-nav-link-menu-superior {
  /* font-family: 'Karla'; */
  margin: 0 8px;/* Este es el espacio que hay entre los botones del menu */
  font-size: 13px;
}
.active{
	color: yellow !important;
}

/* menu superior */
.navbar-toggler-icon-svg {
  fill: white;
}
.navbar-light .navbar-toggler {
	color: white;
	border-color: white;
}
#header-superior{
display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90rem;
  height: 9.5625rem;
  flex-shrink: 0;
}
/*
Cambiar el header en el futuro por uno con la foto del instituto
#header-superior {
  height: 165px;
  margin-bottom: 0px;
  background: url('../img/fachada_colegio_1.jpg') center center / auto 300% no-repeat;
}
*/
#contenedor-contenido{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
}
@media (max-width: 600px) {
	/* Resolucion celulares */
	#header-superior{
		height: 160px;
		margin-bottom: 0px;
	}
	#jovenes-adultos{
		font-weight: 500; 
		color: #1B9140;
		/*position : absolute;*/
		/*top: 45px;*/
		font-size: 20px;
		font-family: 'Markazi Text';
	}
	#instituto-tierras-blancas{
		color: #921A7B;
		font-family: 'Markazi Text';
		/* Display_serif */
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 77px;
		max-height: 72px;
		/* identical to box height */
	}
	#logo-negro-instituto-superior{
		display : none;
	}
	.row-instituto-tierras-blancas{
		max-height: 90px !important;
		margin-bottom: -50px !important;
		position: absolute;
	}
	#logo-blanco-instituto{
		width: 67px;
		margin-top: -5px;
		position: fixed;
		float: right;
		right: 10px;
	}
	.contenedor-redes-sociales-superior{
		position: absolute;
		right: 1px;
		top: 28px;
	}
	.contenedor-logo-letras{
		position: absolute;
		margin-top: -107px;
	}
	#gratis{
		/* gratuito */
		position: absolute;
		width: 57px;
		height: 22px;
		right: 4%;
		top: 53px;
		left : 281px;
		transform: rotate(-9.87deg);
		background-color: yellow;
		text-align: center;
		color: red;
		font-weight: 700;
		border: red solid 1px;
		z-index: 1;
		padding-bottom: 21px;
		font-size: 14px;
	}
	#contenedor-contenido{
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.dropdown-menu{
		background-color: #1B9140 !important;
	}
	.collage-header-izquierda {
	  max-width: 100%;
	  margin-top: -0.5rem;
	  max-height: 110px;
	}

	.collage-header-derecha {
	  max-height: 118px;
	  transform: scaleX(-1);
	  margin-top: -2rem;
	  margin-right: -1.7rem;
	}
}
@media (min-width: 601px) {
	/* Resolucion escritorio y tablets */
	.contenedor-logo-letras{
		margin-top: -286px
	}
	#jovenes-adultos{
		font-weight: 400;
		color: #1B9140;
		/*position: absolute;*/
		/*top: 7rem;*/
		/*left: 36rem;*/
		font-size: 26px;
		font-family: 'Markazi Text';
	}
	#instituto-tierras-blancas{
		color: #921A7B;
		font-family: 'Markazi Text';
		/* Display_serif */
		font-style: normal;
		font-weight: 500;
		font-size: 44px;
		line-height: 77px;
		/* identical to box height */
	}
	.row-instituto-tierras-blancas{
		max-height: 90px !important;
		margin-bottom: -50px !important;
		position: absolute;
	}
	#logo-blanco-instituto{
		display:none;
	}
	.contenedor-redes-sociales-superior{
		position: absolute;
		right: 1px;
		top: 28px;
	}
	#icono-facebook-navbar{
		width: 30px;
		height: 28px;
		cursor:pointer;
	}
	#icono-tiktok-navbar{
		width: 30px;
		height: 28px;
		cursor:pointer;
	}
	#icono-instagram-navbar{
		width: 30px;
		height: 28px;
		cursor:pointer;
	}
	#gratis{
		/* gratuito */
		width: 75px;
		height: 26px;
		transform: rotate(-9.87deg);
		background-color: yellow;
		text-align: center;
		color: red;
		font-weight: 700;
		border: red solid 1px;
		z-index: 1;
		font-size: larger;
		padding-bottom: 30px;
	}
	.contenedor-gratis{
		right: -13rem;
		top: 4.5rem;
	}
	.collage-header-izquierda {
	  max-width: 100%;
	  margin-top: -0.5rem;
	  max-height: 160px;
	}

	.collage-header-derecha {
	  max-height: 168px;
	  transform: scaleX(-1);
	  margin-top: -2rem;
	  margin-right: -1.7rem;
	}
}
@media (min-width: 990px){
	/* Apenas se esconda el menu, se muestra el boton movil */
	#boton-navbar{
		display : none !important;
	}
}

@media (max-width: 1118px) {
  .collage-header-derecha {
    opacity: 0.5!important;
  }
  .collage-header-izquierda{
    opacity: 0.5!important;
	position: absolute;
	margin-top : -83px;
  }
}

@media (min-width: 1119px) {
  .collage-header-izquierda,
  .collage-header-derecha {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .collage-header-izquierda,
  .collage-header-derecha {
    opacity: 1;
  }
}

@media (max-width: 580px) {
  .collage-header-derecha {
    opacity: 1!important;
  }
  .collage-header-izquierda{
    opacity: 1!important;
	position: absolute;
	margin-top : -83px;
  }
}

.caja-slider{
	color: black;
    background-color: white;
    width: 461px;
	left: 16%;
	position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
	
	top: 61px;
    margin-bottom: 99px;
    padding-top: 10px;
}
.caja-slider h5{
	color : blue;
}
.boton-matriculate{
	color: #fff;
    background-color: #FF8A00;
    border-color: #FF8A00;
    border-radius: 16px;
}
.cajas-beneficios{
	padding: 20px !important;
    background-color: #D9D9D9 !important;
	border-color: #D9D9D9 !important;
	padding-left: 5px !important;
    padding-right: 5px !important;
	padding-top: 5px !important;
}
.card-img-wrapper{
	margin: -5px;
}
.divider-card{
	background-color: #1B9140;
    height: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

#icono-whatsapp{
	width: 70px;
      height: 70px;
      position: fixed;
      bottom: 50px;
      right: 50px;
      z-index: 1;

	background-image: url("../img/iconos/whatsapp.png");
	background-size: cover;
	background-position: center;
}
body{
	min-width : 562px;
}